<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>789749513358-jnb8gkgmm6c3vlciblqvh6se0rjatd2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789749513358-jnb8gkgmm6c3vlciblqvh6se0rjatd2b</string>
	<key>API_KEY</key>
	<string>AIzaSyAB4LmyRVMscIdFjpcn3aoTOqF57MXMdPA</string>
	<key>GCM_SENDER_ID</key>
	<string>789749513358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.noblesteam.Flace</string>
	<key>PROJECT_ID</key>
	<string>flace-cfb5d</string>
	<key>STORAGE_BUCKET</key>
	<string>flace-cfb5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:789749513358:ios:30eded63bfd1732d</string>
	<key>DATABASE_URL</key>
	<string>https://flace-cfb5d.firebaseio.com</string>
</dict>
</plist>
